.container{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 65vw;
}

.heading{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block: 15px;
}

.heading span{
    align-items: center;
    aspect-ratio: 1;
    background-color: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 50px;
}

.heading span img{
    width: 30px;
}

.heading h3{
    font-size: 1.7rem;
    font-weight: 700;
}

.addbtn{
    background-color: rgba(0,119,255,.1);
    border: 2px solid #07f;
    border-radius: 5px;
    color: #07f;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}

.deletebtn{
    background-color: rgba(255,19,0,.1);
    border: 2px solid #ff1300;
    color: #ff1300;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 5px 10px;
}

.list{
    margin: 0 auto;
    margin-top: 20px;
    width: 67vw;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30%;
    height: 145px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
}

.image img{
    height: 80%;
    object-fit: cover;
    width: 100%;
}

.image span{
    margin-top: 9px;
    font-size: 20px;
}

.editimg{
    border: none;
    display: none;
    outline: none;
    position: absolute;
    right: 25px;
    top: -15px;
    transition: .3s;
}

.editimg img{
    width: 35px;
}

.active{
    display: block;
}

.deleteimg{
    border: none;
    display: none;
    outline: none;
    position: absolute;
    right: -15px;
    top: -15px;
    transition: .3s;
}

.activedel{
    display: block;
}

.deleteimg img{
    width: 35px;
}

@media screen and (max-width: 768px) {
    .container{
        width: 85%;
    }

    .list{
        width: 100%;
        gap: 22px;
        margin: 0;
        margin-top: 20px;
    }

    .image{
        width: 28%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 390px) {
    .container{
        width: 90%;
    }

    .heading span{
        width: 35px;
        margin-right: 0;
    }

    .heading span img{
        width: 17px;
    }

    .heading h3{
        font-size: 20px;
    }

    .heading button{
        padding: 5px 5px;
    }

    .list{
        width: 100%;
        gap: 14px;
        margin: 0;
        margin-top: 20px;
    }

    .image{
        width: 26%;
        height: 115px;
        margin-bottom: 0;
        padding: 7px;
        padding-bottom: 3px;
    }

    .image span{
        margin-top: 5px;
        font-size: 15px;
    }
}